<h1>Update Author Details</h1>
<%= simple_form_for @author do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :age %>
  <br />
  <%= f.submit 'Update' %>
<% end %>