<h1><%= @book.title %></h1>
<h3><i><%= @book.author %></i></h3>
<br />
<p>
  <%= 'Genre: ' + @book.genre %><br />
  <%= 'Classification: ' + @book.classification %><br />
  <%= 'Type: ' + @book.book_type %><br />
  <%= 'Year: ' + @book.year %>
</p>